@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Miracle";
  font-weight: 400;
  src: url("/media/font/Miracle.ttf") format("truetype");
}
@font-face {
  font-family: "Vogue";
  font-weight: 400;
  src: url("/media/font/Vogue.ttf") format("truetype");
}
@font-face {
  font-family: "Times";
  font-weight: 400;
  src: url("/media/font/OPTITimes-Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Times-Italic";
  font-weight: 400;
  src: url("/media/font/OPTITimesRoman-Italic.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color: rgb(50, 50, 40);
  font-size: 16px;
  line-height: 1.4;
  z-index: 1;
}
body {
  background-color: #f5f4f0;
  /* background-image: url(/media/img/bg.png);
  background-repeat: no-repeat;
  background-position: top left; */
  background-size: 100px;
}
.bg_deco {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 120px;
}
.issue_no {
  text-align: right;
  font-family: "Times-Italic";
}
.gloval-wrap {
  padding: 1rem;
}
